<div class="container">
    <form [formGroup]="notesForm" #userForm="ngForm">
        <br>


        <div class="from-group">
            <label>Name :</label>
            <input type="text" name="name" formControlName="name" class="form-control">
            <small class="text-danger" *ngIf="name?.errors?.['forbiddenName']">{{name?.errors?.['forbiddenName'].value}}
                is not allowed</small>
        </div>

        <div class="from-group">
            <label>Product :</label>
            <select class="custom-select" name="media">

                <option *ngFor="let product of products">
                    {{product.title}}
                </option>
            </select>
        </div>

        <div class="form-check mb-3">
            <input type="checkbox" formControlName="checkDiscount" (click)="showDiscount()" class="form-check-input">
            <label class="form-check-label">with discount</label>
        </div>
        <div *ngIf="discountChecked" class="form-check mb-3">
            <label class="form-check-label">write discount</label>
            <input type="text" name="discount" required formControlName="discount"
                placeholder="write discount value in percent" class="form-control">
        </div>

        <div class="forrm-group">
            <label>Note</label>
            <input type="text" formControlName="note" required name="note" class="form-control">

        </div>
        <button (click)="addAlternativeComment()" class="btn btn-success float-right">Add New Comment</button>
        <div formArrayName="aleternativeComments" *ngFor="let email of aleternativeComment.controls; let i=index">
            <label>Alternative email # {{i+1}}</label>
            <input type="text" class="form-control" [formControlName]="i">
            <button (click)="deleteComment(i)" class="btn btn-danger float-right">-</button>
        </div>

        <input type="submit" class="btn btn-primary" value="submit">

    </form>
</div>