<div class="alert alert-danger" *ngIf="errMsg">{{errMsg}}</div>
<div class="container ">

    <div class="card w-50  my-3 " *ngFor="let item of arrayUsers">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">id: {{item.id}}</li>
            <li class="list-group-item">Name: {{item.name}}</li>
            <li class="list-group-item">UserNAme: {{item.username}}</li>
            <li class="list-group-item">email: {{item.email}}</li>
        </ul>

    </div>
</div>