<p>parent works!</p>
<app-child (childProd)="parentProd=$event"></app-child>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of parentProd">
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.quantity }}</td>
            <td><img [src]="product.img" alt=""></td>
        </tr>
    </tbody>
</table>